/* Tailwind CSS directives */
/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

/* body {
  @apply bg-gradient-to-br from-white via-blue-50 to-indigo-100 text-gray-800 overflow-x-hidden;
  font-family: 'Inter', sans-serif;
}

/* Smooth transitions */
* {
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
} */

body {
  background: linear-gradient(135deg, #b4a7af, #9f8f99);
  background-attachment: fixed;
}

/*----------------------------------------------------------------------------------------------------*/

/* Global styles */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}